<% @posts.each do |post|  %>
  <%= link_to (image_tag post.image.url(:small))%>
<h2><%= link_to post.title, post %></h2>
<p><%= pluralize(post.comments.count, "Comment") %></p>
<p><%= pluralize(post.get_likes.size, "Like") %></p>
<p><%= pluralize(post.get_dislikes.size, "Dislike") %></p>
<% end %>


<%= link_to "Add new inspiration", new_post_path %>
