<!DOCTYPE html>
<html>
<head>
  <title>Muse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type='text/css'>
</head>
<body>

  <header>
    <div class="wrapper clearfix">
      <div id="logo"><%= link_to "Muse", root_path %></div>
      <nav>
        <% if user_signed_in? %>
          <%= link_to current_user.name, edit_user_registration_path %>
          <%= link_to "Add New Inspiration", new_post_path, class: "button" %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %>
          <%= link_to "Sign Up", new_user_registration_path, class: "button" %>
        <% end %>
      </nav>
    </div>
  </header>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="wrapper">
    <%= yield %>
  </div>

</body>
</html>
